/* Week 5 homework:Totally Trivial Trivia
// Charles Simpson @KC0NUG*/

.head {
    text-align: center;
    padding: 0.5em 0.6em;   
    color: yellow;  
}

#header2 {
    color: #FF070D;
}

.btn {
    color: white;
    border: 2px solid black;
    text-align: center;
    border-radius: 10px;
    background-color: blue;
    font-size: 12pt;
}

.btn:hover {
    background: green;
    color: black; 
}

.answer:hover {
    background: green;
    color: black;
}

.timer-p {
    color: #E740FF;
}


#all_done {
    color: blue;
}

.timer {
    color: #3E81FF;
}

.good {
    color: green;
}

.bad {
    color: red;
}

body {
    background: url('../images/PinkFloyd.jpg') no-repeat top center fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: yellow;
    text-align: center;
}
